<!DOCTYPE html>
<html lang="pt-BR" class="scroll-smooth">
<head>
    {{ partial "head.html" . }}
    
    {{ block "extra_head" . }}{{ end }}
</head>
<body class="bg-[#0b0f19] text-slate-200 antialiased selection:bg-cyan-500/30 selection:text-cyan-200">
    
    {{ partial "header.html" . }}
    
    <!-- O bloco "main" injeta os layouts específicos (index e single) que já gerenciam suas próprias tags e espaçamentos -->
    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" . }}
    
    {{ partial "scripts.html" . }}
</body>
</html>